alias ni='npm install'
alias nis='npm install --save'
alias nisd='npm install --save-dev'
alias nig='npm install -g'
alias nr='npm run'
alias nt='npm test'
alias ns='npm start'
alias nit='npm install && npm test'
alias nf='npm cache clean -f && rm -rf node_modules && npm install'
alias nl='npm list --depth=0'

alias cdd='cd ~/dev'

alias ssh.smart1='ssh root@159.65.24.116'
alias ssh.smart2='ssh root@178.62.38.16 -p 976'
alias ssh.smart3='ssh root@138.68.151.90 -p 904'
alias ssh.smart4='ssh root@138.68.186.38 -p 956'
alias ssh.smart5='ssh root@138.68.176.192 -p 999'
alias ssh.smart6='ssh root@138.68.178.197 -p 922'
alias ssh.smart7='ssh root@138.68.186.5 -p 918'
alias ssh.smart8='ssh root@138.68.188.195 -p 940'
alias ssh.smart9='ssh root@138.68.178.99 -p 901'
alias ssh.smart10='ssh root@138.68.178.247 -p 987'
alias ssh.smart11='ssh root@178.62.103.203 -p 937'
alias ssh.smart12='ssh root@138.68.176.116 -p 991'
alias ssh.smart13='ssh root@178.62.11.154 -p 973'

alias ssh.mt='ssh flarmio.com@s68464.gridserver.com'
alias ssh.gcloud_dokku='ssh knorcedger@35.196.233.9'
alias qb.ssh.gcloud_dokku='ssh achilleas.tsoumitas@35.196.233.9'

alias qb.ssh.nissa='ssh quantumblack@192.168.10.11'
alias qb.ssh.liliana='ssh quantumblack@192.168.11.168'
alias qb.ssh.quantumblack.io='ssh root@quantumblack.io'
alias qb.ssh.nerve-scarlet='ssh root@35.157.216.112'
alias qb.ssh.nerve-chinook='ssh ubuntu@34.194.203.9'
alias qb.ssh.qb1='ssh ubuntu@ec2-34-201-201-217.compute-1.amazonaws.com'
alias qb.githubToken='echo "b374318dc541bd99f2726f79b10ffa8f7540b6da"'

alias qb.toolkit.docker_stop='docker stop $(docker ps -aq)'
alias qb.toolkit.rebuild='cdd && cd asset-intelligencetoolkit-database && git pull && ./bin/build.sh && ./bin/run.sh && cd ../asset-intelligencetoolkit-back-end && git pull && npm install && ./bin/docker-build && ./bin/docker-start-dev && cd ../asset-intelligencetoolkit-front-end && git pull && npm install && npm start'
alias qb.toolkit.all='qb.toolkit.docker_stop && qb.toolkit.rebuild'

alias yo.editorconfig='npx -p yo -p generator-editorconfig -- yo editorconfig'
alias yo.gitattributes='npx -p yo -p generator-gitattributes -- yo gitattributes'
alias yo.gitignore='npx -p yo -p generator-gitignore -- yo gitignore'

alias dev.init='git init && npm init && yo.editorconfig && yo.gitattributes && yo.gitignore'
