# npm
alias ni='npm install'
alias nis='npm install --save'
alias nisd='npm install --save-dev'
alias nig='npm install -g'
alias nr='npm run'
alias nt='npm test'
alias ns='npm start'
alias nit='npm install && npm test'
alias nf='npm cache clean -f && rm -rf node_modules && npm install'
alias nl='npm list --depth=0'

alias cdd='cd ~/dev'

# yeoman
alias yo.editorconfig='npx -p yo -p generator-editorconfig -- yo editorconfig'
alias yo.gitattributes='npx -p yo -p generator-gitattributes -- yo gitattributes'
alias yo.gitignore='npx -p yo -p generator-gitignore -- yo gitignore'

alias dev.init.node='git clone git@github.com:Knorcedger/node-init.git . && rm -rf .git && git init && npm init -y \
  && ni express body-parser signale nconf \
  && nisd eslint eslint-config-airbnb-base eslint-plugin-import nodemon ndb \
  && npx json -I -f package.json -e "this.scripts.start=\"ndb nodemon --ignore test/ --watch src\"" \
  && npx json -I -f package.json -e "this.scripts.test=\"npm run eslint\"" \
  && npx json -I -f package.json -e "this.scripts.eslint=\"eslint --ignore-path .gitignore ./src/\"" \
  && npx json -I -f package.json -e "this.main=\"src/index.js\""'

# docker
alias dib='docker image build . -t'
alias de='f() { docker container exec -it $1 bash };f'
alias dc='docker-compose'
alias dls='docker container ls'
alias dsa='docker stop $(docker ps -aq)'

# android
alias em='nohup emulator -avd default > /dev/null 2>&1 &'

# various
alias mkdir='f() { mkdir $1 && cd $1 };f'
alias code='snap run code'

alias example='f() { echo Your arg was $1. };f'
